* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Almarai;
}
body {
  padding: 2rem 4rem;
}
#list {
  display: inline-block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  outline: none;
  border: 2.5px solid #333333;
}
#list:focus {
  border: 2.5px solid #e5e5e5;
  border-bottom: 2.5px solid #333333;
}
#add-btn {
  display: block;
  margin: auto;
  padding: 0.4rem 1.5rem;
  font-size: 15px;
  margin-top: 0.8rem;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.append {
  max-height: 80vh;
  min-height: 80vh;
  background-color: #e5e5e5;
  margin-top: 1rem;
  overflow: auto;
}
.append > div {
  display: flex;
  margin: 0.8rem 0;
  align-items: center;
}
.append > div > * {
  margin: 0 0.7rem;
}
.append > div > h3 {
  letter-spacing: 0.5px;
}

input[type="checkbox"] {
  height: 1.3rem;
  width: 1.3rem;
  color: red;
  background-color: red;
}

button:hover {
  cursor: pointer;
}

body {
  background: linear-gradient(40deg, white 50%, #333333 50%);
}
#delete-btn {
  padding: 0.1rem 0.5rem;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
#delete-btn:hover {
  color: red;
}
.strike {
  text-decoration: line-through;
}
@media (min-width: 1200px) {
  :root {
    font-size: 20px;
  }
}
