.main {
  height: 20vw;
  width: 25vw;
  background-color: red;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 25vw;
}
.body > div:nth-child(1) > * {
  padding: 3px 0;
}
.body > div > p {
  font-size: 14px;
  letter-spacing: 1px;
}

button {
  padding: 4px 8px;
  outline: none;
  border: 1px solid black;
}
button:hover {
  background-color: rgb(52, 40, 213);
  color: white;
  outline: none;
  cursor: pointer;
}
.gird-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}
