div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
}
body {
  background-color: rgb(70, 70, 74);
}
