@import url("https://fonts.googleapis.com/css?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.static-background {
  background-color: #666666;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  font-size: 20rem;
  font-weight: 100;
  font-family: Electrolize;
}
.bg-text {
  position: fixed;
  top: 10vh;
  left: 23vw;
  color: #999494;
}
.static-foreground {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 0 20px;
  background-color: #4d4c4c87;
  font-family: poppins;
  color: white;
  border-radius: 5px;
}

.form > h1 {
  margin: 15px 0;
  letter-spacing: 2px;
  font-weight: 100;
}
.form > input {
  min-width: 30.5rem;
  max-width: 30.5rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  outline: none;
  margin-bottom: 8px;
  background-color: #d9d7d7;
  color: rgb(0, 0, 0);
  border: none;
}
.form > input:focus {
  background-color: white;
}
.form > input::placeholder {
  color: #6b6868a3;
}
button {
  outline: none;
  font-size: 1.2rem !important;
  padding: 3px 20px !important;
  margin-top: 5px !important;
  margin-bottom: 15px !important;
  background-color: #d9d7d7;
  border: none;
  letter-spacing: 1px;
}
button:hover {
  background-color: white;
}
