video {
  width: 280px;
  border: 2px solid black;
}
div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
h1 {
  border: 2px solid red;
}

h1:hover {
  cursor: pointer;
}
